<div class="app">
  <div class="key-visual">
  </div>

  <el-main>
    <section class="description">
      <h3>What's this?</h3>
      <p v-for="d in descriptions" v-html="d.nl2br()"></p>
    </section>
    <section class="concept">
      <h3>Concept</h3>
      <p v-html="concept.nl2br()"></p>
    </section>

    <section class="channels">
      <h3>Channels</h3>
      <!-- SPカルーセル -->
      <el-carousel class="hidden-sm-and-up" :interval="6000" indicator-position="outside" arrow="always" height="10em">
        <el-carousel-item v-for="(chan, key) in channels" :key="key">
          <channel-card :chan="chan"></channel-card>
        </el-carousel-item>
      </el-carousel>
      <!-- PCカルーセル -->
      <el-carousel class="hidden-xs-only"
                   :autoplay="false" arrow="always" height="10em">
        <el-carousel-item v-for="page in Math.ceil(channels.length/2) " :key="page">
          <el-row type="flex" justify="space-around">
            <el-col v-for="ite in [1,2]" :span="11" :key="ite">
              <channel-card :chan="channels[(ite-1) + (page-1)*2]"></channel-card>
            </el-col>
          </el-row>
        </el-carousel-item>
      </el-carousel>
    </section>

    <section class="requirements">
      <h3>Requirements</h3>
      <ul>
        <li v-for="(text, k) in requirements"  :key="k" v-html="text.nl2br()"></li>
      </ul>
    </section>

    <section class="events">
      <h3>Events</h3>
      <!-- SPカルーセル -->
      <el-carousel class="hidden-sm-and-up" :interval="6000" indicator-position="outside" arrow="always" height="14em">
        <el-carousel-item v-for="(event, key) in events" :key="key">
          <event-card :ev="event"></event-card>
        </el-carousel-item>
      </el-carousel>
      <!-- PCカルーセル -->
      <el-carousel class="hidden-xs-only"
                   :autoplay="false" arrow="always" height="14em">
        <el-carousel-item v-for="page in Math.ceil(events.length/2) " :key="page">
          <el-row type="flex" justify="space-around">
            <el-col v-for="ite in [1,2]" :span="11" :key="ite">
              <event-card :ev="events[(ite-1) + (page-1)*2]"></event-card>
            </el-col>
          </el-row>
        </el-carousel-item>
      </el-carousel>
    </section>


    <section class="conclusion">
      <p>一緒に遊びたくなりました？</p>
      <img src="https://s32.myssl.jp/trickbox/pcl/lp/images/ogp.png">
      <h2>Product Creator's Link</h2>
      <el-button v-on:click="join">Join now!</el-button>
    </section>

  </el-main>

  <el-footer>

  </el-footer>
</div>
